table {
    width: 500px;
    background-color: brown;
    border-collapse: collapse;
}

tr,
td {
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 20px;

}

#dong2 {
    background-color: blue;
}